Lenguaje de Marcas/src/DTD/Ejercicios/CorreoElectronico.dtd

<!ELEMENT emails (email*)>
<!ELEMENT email (para*, cc*, cco*, asunto, texto, adjunto*)>
<!ELEMENT para (#PCDATA)>
<!ELEMENT cc (#PCDATA)>
<!ELEMENT cco (#PCDATA)>
<!ELEMENT asunto (#PCDATA)>
<!ELEMENT texto (#PCDATA)>
<!ELEMENT adjunto (nombre, mine-type, longitud)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT mine-type (#PCDATA)>
<!ELEMENT longitud (#PCDATA)>
